*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "releway",sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.main{
    background-image: url(../images/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu{
    display: flex;
    width: 100%;
}

.logo{
    width: 50%;
}

.intensMenu{
    width: 50%; 
}

.intensMenu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.intensMenu a:hover{
    border-bottom: 2px solid #FFDD33;
}

.intensMenu a.contactBtn{
    background-color: #0F3FD3;
    padding: 10px;
    border-radius: 6px;
}

.intensMenu a.contactBtn:hover{
    border: 0;
}

.mockup{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.mockup h1{
    font-size: 50px;
    font-weight: normal;
}

.mockup img{
    max-width: 100%;
}

/* ************* */

.marcas{
    padding: 100px 0;
}

.marcas img{
    width: 20%;
}

/* ************* */

.pqNos{
    padding: 40px 0;
    background-color: #FBFCFE;
}

.pqNos > .center{
    max-width: 1280px;
}

.pqNos > .center > h2{
    font-size: 64px;
    text-align: center;
    width: 100%;
}

.pqNos > .center > p{
    color: #7E92AC;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.diferenciais{
    display: flex;
    margin-top: 50px;
}

.boxDiferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    width: 33%;
    margin-right: 2%;
    padding: 10px 40px;
    border-radius: 10px;
}

.boxDiferenciais h3{
    margin: 20px 0;
}

.boxDiferenciais p{
    color: #7E92AC;
    font-size: 13px;
    margin-bottom: 40px;
}

.boxDiferenciais img{
    width: 72px;
    height: 72px;
    margin-bottom: -20px;
}

/* *********** */

.cta{
   background-image: url("../images/BANNER\ IMG.svg");
   background-size: cover;
   background-position: center;
   padding: 20px 10px;
   min-height: 200px; 
   text-align: center;
   color: white;
}

.cta h2, .cta h4{
    font-weight: normal;
    margin-bottom: 1.2%;
}

.cta h2{
    font-size: 40px;
    margin-top: 2%;
}

.cta a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FFDD33;
    text-decoration: none;
    text-transform: uppercase;
    color: #0F3FD3;
    font-weight: bold;
    font-size: 14px;
}

/* ********** */

.listaBeneficios{
    width: 40%;
}

.listaBeneficios > center{
    max-width: 1280px;
}

.listaBeneficios h1{
    font-size: 50px;
    margin-top: 50px;
    margin-left: 20px;
    max-width: 100%;
}

.listaBeneficios p{
    max-width: 80%;
    vertical-align: middle;
    font-size: 14px;
    color: #7E92AC;
    margin-bottom: -12px;
}

.listaBeneficios span{
    display: inline-block;
    width: calc(100% - 70px);
}

.listaBeneficios img{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.listaBeneficios a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #255AFF;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 5px;
}

.imgBeneficios{
    width: 60%;
}

.imgBeneficios img{
    max-width: 100%;
}


@media screen and (max-width: 768px){

    .marcas > .center{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .marcas img{
        max-width: 300px;
        width: 100%;
    }

    .diferenciais{
        flex-wrap: wrap;
    }

    .boxDiferenciais{
        width: 100%;
        margin-right: 0;
    }

    .cta h2, .cta h4{
        margin-bottom: 2.3%;
    }

    .listaBeneficios, .imgBeneficios{
        width: 100%;
    }
}